<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html>
<head th:insert="fragments.html :: head"></head>
<body>
<!-- ======= Header ======= -->
<header th:insert="fragments.html :: header"></header>
<!-- ======= Sidebar ======= -->
<div th:insert="fragments.html :: nav"></div>

<!-- Content -->
<main id="main" class="main">

    <div th:if="${message != null}"
         class="alert alert-success text-center">[[${message}]]</div>

    <div class="pagetitle">
        <h1>Add Patient Questions</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
<!--                <li class="breadcrumb-item"><a th:href="@{/patientHistoryList}">Patient History</a></li>-->
                <li class="breadcrumb-item active">Add Patient Questions</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <!-- General Form Elements -->
                        <form th:action="@{/addPatientHistoryQuestions}" method="post" th:object="${patientHistoryQuestions}">
                            <input type="hidden" name="id"  th:field="*{id}">
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label class="card-title">Questions About Suffering</label>
                                    <textarea rows="5" class="form-control" th:field="*{questionsAboutSuffering}"
                                                  placeholder="Questions About Suffering"></textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label class="card-title">Questions About Services</label>
                                    <textarea rows="5" class="form-control" th:field="*{moreInfoAboutServices}"
                                                  placeholder="More Info About Services"></textarea>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label class="card-title">More Questions About Suffering</label>
                                    <textarea rows="5" class="form-control" th:field="*{moreQuestionsAboutSuffering}"
                                                  placeholder="More Questions About Suffering"></textarea>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-10">
                                    <label class="card-title">Female Questions</label>
                                    <textarea rows="5" class="form-control" th:field="*{femaleQuestions}"
                                                  placeholder="Female Questions"></textarea>
                                </div>
                            </div>

<!--                            <div class="row mb-3">-->
<!--                                <div class="col-sm-10">-->
<!--                                    <div class="quill-editor-full form-control" rows="5" th:field="*{femaleQuestions}"-->
<!--                                         placeholder="Female Questions">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                            <br>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:insert="fragments.html :: script"></div>
</body>

</html>